<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
	<insert id="create" parameterType="user">
		insert into users(id, name, password) values(#{id},#{name},#{password})
	</insert>
	<select id="read" parameterType="string" resultType="user">
		select * from users where id=#{id} and rownum=1
	</select>
	<update id="update" parameterType="user">
		update users set name=#{name} where id=#{id}
	</update>
	<delete id="delete" parameterType="string">
		delete users where id=#{id}
	</delete>
	<select id="getAll" resultType="user">
		select * from users
	</select>
</mapper>
